<!-- {% block title %}Choose graph{% endblock %} -->
{% block content %}
<style>
custom-select {
  position: relative;
  font-family: Arial;
  backround-color: red
}
h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  color: rgb(58, 187, 213)
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.button4 {
  background-color: #E4E1E1;
  color: black;
  padding: 2px 5px;
  font-size: 16px;
  margin: 0
}

.button5 {
  background-color: #ffffff;
  color: black;
  padding: 2px 5px;
  font-size: 16px;
  margin: 0
}

label {
  font-size: 24px;
}

form {
  text-align: center;
}

option {
  /* background-color: #F0F6FF; */
  font-family: Arial;
  font-size: 1.2em;
  padding: 1em 1.5em;  
}

select {
  font-family: Arial;
  font-size: 1.2em;
  padding: 0.2em; 
}

</style>
<h1>Customize your graph</h1>
<form action="#" method="post">
  <label for="name">Your name: </label>
  <select name="names" id="names">
    <option value="" selected disabled hidden>Choose here</option>
    <option value="Tajmoti">Tajmoti</option>
    <option value="Teetou">Teetou</option>
    <option value="Stano">Stano</option>
    <option value="Kmasko">Kmasko</option>
    <option value="Aligator">Aligator</option>
  </select>
  <br><br>
  <label for="stat">Stat: </label>
  <select name="stats" id="stats">
    <option value="" selected disabled hidden>Choose here</option>
    <option value="total_kills">Kills</option>
    <option value="total_deaths">Deaths</option>
    <option value="total_planted_bombs">Planted bombs</option>
    <option value="total_defused_bombs">Defused bombs</option>
    <option value="total_kills_ak47">Kills ak47</option>
  </select>
  <br><br>
  <input class="button" type="submit" value="submit">
</form>
{% endblock %}